<div class="vertical-line vertical-line--postdoc"></div>
<div class="timeline__element timeline__element--postdoc timeline__textbox">
    <h3 class="card-title">Analista GIS en Acciona Agua</h3>
    <div class="card-body">Abril del 2017 - actualidad</div>
    <ul class="card-description">
        <li>Implementación y desarrollo del proyecto GIS de la red de abastecimiento y
            saneamiento de los municipios del Pilar de la Horadada, Dolores, Santomera,
            Archena,
            Lorquí, Ceutí, Villanueva del río Segura, Ulea, Ojós y Ricote.</li>
        <li>Administración de bases de datos y de servicios web GIS.</li>
        <li>Tratamiento y gestión de datos LIDAR.</li>
        <li>Actualizar, modificar y editar cartografía temática a través de software GIS
            específico.</li>
        <li>Automatización de procesos con Model Builder y scripts con Python.</li>
        <li>Análisis y tratamiento de datos espaciales.</li>
    </ul>
    <div class="skills">
        <p class="skill-name">ArcGIS</p>
        <p class="skill-name">QGIS</p>
        <p class="skill-name">SQL</p>
        <p class="skill-name">Qfield</p>
        <p class="skill-name">Field Maps</p>
        <p class="skill-name">Python</p>
        <p class="skill-name">Lidar</p>
        <p class="skill-name">Git</p>
        <p class="skill-name">R</p>
        <p class="skill-name">Bases de datos</p>
    </div>
</div>
<div class="vertical-line vertical-line--webdev"></div>
<div class="timeline__element timeline__element--webdev timeline__textbox">
    <h3 class="card-title">Programador backend en NTT Data</h3>
    <div class="card-body">Marzo del 2023 - Junio del 2023</div>
    <ul class="card-description">
        <li>Programación/desarrollo de evolutivos y correctivos.</li>
        <li>Refactorización y depuración de código.</li>
        <li>Realización de test funcionales.</li>
        <li>Realización de documentación técnica para el proyecto.</li>
    </ul>
    <div class="skills">
        <p class="skill-name">Java</p>
        <p class="skill-name">Oracle</p>
        <p class="skill-name">SQL</p>
        <p class="skill-name">Spring Boot</p>
        <p class="skill-name">Git</p>
        <p class="skill-name">Postman</p>
        <p class="skill-name">Hibernate</p>
        <p class="skill-name">Swagger</p>
        <p class="skill-name">Mockito</p>
        <p class="skill-name">Zookeeper</p>
        <p class="skill-name">Jira</p>
        <p class="skill-name">Jenkins</p>
        <p class="skill-name">ALM</p>
    </div>
</div>
<div class="vertical-line vertical-line--phd"></div>
<div class="timeline__element timeline__element--phd timeline__textbox">
    <h3 class="card-title">Desarrollador GIS en SPEA</h3>
    <div class="card-body">Junio del 2014 - Diciembre del 2016</div>
    <ul class="card-description">
        <li>Implementación del servidor GeoServer para el proyecto GIS.</li>
        <li>Administración y gestión de bases de datos geoespaciales (PostGIS).</li>
        <li>Procesamiento de imágenes de satélite y desarrollo de flujos automáticos con R y
            Python.</li>
        <li>Creación y monitorización del proyecto Web GIS.</li>
        <li>Desarrollo de diversos proyectos de investigación ambiental.</li>
        <li>Estudios hidrológicos y de erosión.</li>
        <li>Tratamiento de datos estadísticos.</li>
        <li>Implementación de modelos de Machine Learning.</li>
    </ul>
    <div class="skills">
        <p class="skill-name">GeoServer</p>
        <p class="skill-name">Java</p>
        <p class="skill-name">SQL</p>
        <p class="skill-name">ArcGIS</p>
        <p class="skill-name">Python</p>
        <p class="skill-name">PostgreSQL</p>
        <p class="skill-name">HTML/CSS3</p>
        <p class="skill-name">PHP</p>
        <p class="skill-name">Git</p>
        <p class="skill-name">HEC-RAS</p>
        <p class="skill-name">HEC-HMS</p>
        <p class="skill-name">Machine Learning</p>
    </div>
</div>
<div class="vertical-line vertical-line--msc"></div>
<div class="timeline__element timeline__element--msc timeline__textbox">