<div class="layers-widget-skrollex-section-5774234878549606656628 pure-u-1 pure-u-lg-24-24  col-padding">

    <div class="skillbar clearfix background-h player" data-percent="95%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">ArcGIS</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">95%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="95%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">QGIS</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">95%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="95%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">ENVI</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">95%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="85%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">GeoServer</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">85%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="80%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">Android</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">80%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="30%">
        <div class="skillbar-title background-j heading-j"><span class="skillbar-label">Kotlin</span></div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">30%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="75%">
        <div class="skillbar-title background-j heading-j"><span class="skillbar-label">Linux</span>
        </div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">75%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="85%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">CSS3</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">85%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="90%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">HTML</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">90%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="40%">
        <div class="skillbar-title background-j heading-i"><span class="skillbar-label">JavaScript</span></div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">40%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="30%">
        <div class="skillbar-title background-j heading-i"><span class="skillbar-label">PHP</span>
        </div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">30%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="95%">
        <div class="skillbar-title background-i heading-j"><span class="skillbar-label">Oracle</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">95%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="90%">
        <div class="skillbar-title background-i heading-j"><span class="skillbar-label">PostgreSQL</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">90%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="90%">
        <div class="skillbar-title background-i heading-j"><span class="skillbar-label">SQL</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">90%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="90%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">Java</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">90%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="75%">
        <div class="skillbar-title background-j heading-j"><span class="skillbar-label">Python</span></div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">75%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="85%">
        <div class="skillbar-title background-i heading-i"><span class="skillbar-label">R</span>
        </div>
        <div class="skillbar-bar background-i"></div>
        <div class="skill-bar-percent heading-h">85%</div>
    </div>
    <div class="skillbar clearfix background-h player" data-percent="70%">
        <div class="skillbar-title background-j heading-j"><span class="skillbar-label">Git</span>
        </div>
        <div class="skillbar-bar background-j"></div>
        <div class="skill-bar-percent heading-h">70%</div>
    </div>
</div>